<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="ocd"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/ocd3.jpg"/>
    <ion-card-header>
        <ion-card-title>Symptoms/  Signs</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ul>
          <li>Obsessions or compulsions, or both</li>
          <li>Mild and gradually progress in severity</li>
          <li>Stress worsens the symptoms</li>
          <li>Persistent, repeated and unwanted thoughts</li>
          <li>Urges or images that are intrusive</li>
          <li>Compulsive or ritualistic behavior to get rid of the thoughts</li>
        </ul>
      </ion-card-content>
    </ion-card>
</ion-content>