<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="hemo"></ion-back-button></ion-buttons>
     </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <ion-card-header>
        <ion-card-title>Causes of Hemophilia</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>As mentioned above, hemophilia is caused by a genetic mutation. The mutations involve genes that code for proteins that are essential in the blood clotting process. The bleeding symptoms arise because blood clotting is impaired.</p><br>
        <img src="assets/hemo2.jpg"/>
        <p>Hemophilia A is caused by a mutation in the gene for factor VIII, so there is deficiency of blood clotting process factor</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="assets/hemo3.jpg"/>
      <ion-card-content>
        <p class="ion-text-center">Picture of the blood clotting process</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Causes (Cont)</ion-card-title>
      </ion-card-header>
      <ion-card-content>
      <img src="assets/hemo4.jpg"/>
    <p>Hemophilia B (also called Christmas disease) results from a deficiency of factor IX due to a mutation in the corresponding gene.</p>
      </ion-card-content> 
    </ion-card>
</ion-content>