<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="hyper"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/hyper4.jpg"/>
    <ion-card-header>
      <ion-card-title>Treatment</ion-card-title>
        </ion-card-header>
      <ion-card-content>
        <p>
          If an underlying medical condition is contributing to the problem, that condition will be treated first. If no clear cause can be found, treatment focuses on controlling excessive sweating. Sometimes you may need to try a combination of treatments. And even if your sweating improves after treatment, it may recur.</p><br>
          
          <p>Medications</p>
          <ul>
          <li>Prescription antiperspirant</li>
          </ul>
          <p>Your doctor may prescribe an antiperspirant with aluminum chloride (Drysol, Xerac Ac). This product can cause skin and eye irritation. It's usually applied to the affected skin before you go to bed. Then you wash the product off when you get up, taking care to not get any in your eyes. If your skin becomes irritated, hydrocortisone cream might help.</p>
          <ul>
          <li>Prescription creams</li>
          </ul>
          <p>A prescription cream that contains glycopyrrolate may help hyperhidrosis that affects the face and head.</p>
          <ul>
          <li>Nerve-blocking medications </li></ul>
          <p>Some oral medications block the chemicals that permit certain nerves to communicate with each other. This can reduce sweating in some people. Possible side effects include dry mouth, blurred vision and bladder problems.</p>
        <ul>
          <li>Antidepressants</li></ul>
        <p>Some medications used for depression can also decrease sweating. In addition, they may help decrease the anxiety that worsens the hyperhidrosis.</p>
        <ul><li>Botulinum toxin injections</li></ul>
        <p>Treatment with botulinum toxin (Botox, Myobloc, others) temporarily blocks the nerves that cause sweating. Your skin will be iced or anesthetized first. Each affected area of your body will need several injections. The effects last six to 12 months, and then the treatment needs to be repeated. This treatment can be painful, and some people experience temporary muscle weakness in the treated area.</p>
      <ul>
        <li>Microwave therapy</li>
      </ul>  
      <p>With this therapy, a device that delivers microwave energy is used to destroy sweat glands. Treatments involve two 20- to 30-minute sessions, three months apart. Possible side effects are a change in skin sensation and some discomfort. This therapy may be expensive and not widely available.</p>
      <ul>
        <li>Sweat gland removal</li>
      </ul>
      <p>If excessive sweating occurs just in your armpits, removing the sweat glands there may help. A minimally invasive technique called suction curettage may be an option, too, if you aren't responding to other treatments.
      </p>
      </ion-card-content>

         
        </ion-card>

</ion-content>