<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="ear"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img width="900" src="assets/ear5.jpg"/>
    <ion-card-header>
      <ion-card-title>How are ear infections treated?</ion-card-title>
        </ion-card-header>
      <ion-card-content>
        <p>
          Most mild ear infections clear up without intervention. Some of the following methods are effective in relieving the symptoms of a mild ear infection:</p><br>
          <ul>
          <li>Apply a warm cloth to the affected ear.</li>
          </ul>
         <ul>
          <li>Use OTC or prescription ear drops to relieve pain.</li>
          </ul>
          <ul>
            <li>Take over-the-counter (OTC) pain medication such as ibuprofen (Advil) or acetaminophen (Tylenol). Find ibuprofen or acetaminophen online.</li>
          </ul>
          <ul>
          <li>Take OTC decongestants such as pseudoephedrine (Sudafed). </li></ul>
        <p>If your symptoms get worse or don’t improve, you should schedule an appointment with your doctor. They may prescribe antibiotics if your ear infection is chronic or doesn’t appear to be improving.</p> 
        </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title>How can ear infections be prevented?</ion-card-title>
              </ion-card-header>
            <ion-card-content>
              <p>
                The following practices may reduce the risk of ear infection:</p><br>
                <ul>
                <li>Washing your hands often</li>
                </ul>
                <ul>
                <li>Avoiding overly crowded areas</li>
                </ul>
                <ul>
                  <li>Forgoing pacifiers with infants and small children</li>
                </ul>
                <ul>
                <li>Breastfeeding infants </li></ul>
              <ul>
                <li>
                  Avoiding secondhand smoke
                </li>
              </ul>
              <ul>
                <li>Keeping immunizations up-to-date</li>
              </ul>
              </ion-card-content>
              <img src="assets/ear4.jpg"/>
              </ion-card>
      
</ion-content>