<ion-header transculent>
  <ion-toolbar>
   <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="health"></ion-back-button></ion-buttons>
       <ion-title>FAQ</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <p class="ion-text-center">
    <img src="assets/health.png" width=100%>
  </p>
      <ion-card>
        <ion-grid style="padding:0px;">
          <ion-row class="ion-text-center">
        <ion-col size="12">
          <ion-icon name="help-circle-sharp" color="primary" size="large"></ion-icon>
           <p>What information that provided in this application?</p>
           <ion-icon name="bulb-sharp" color="primary" size="large"></ion-icon>
           <p>This mobile application provide many authentic information about common disease. You can know how to avoid the problem, how it can be happening and many more. </p>
         </ion-col>
        </ion-row>
      </ion-grid>
      </ion-card>
      <ion-card>
        <ion-grid style="padding:0px;">
          <ion-row class="ion-text-center">
        <ion-col size="12">
          <ion-icon name="help-circle-sharp" color="primary" size="large"></ion-icon>
           <p>How many common diseases in this application?</p>
           <ion-icon name="bulb-sharp" color="primary" size="large"></ion-icon>
           <p>So far, this application have around 21 common of disease that will help people to solve their problems. </p>
         </ion-col>
        </ion-row>
      </ion-grid>
      </ion-card>
      <ion-card>
        <ion-grid style="padding:0px;">
          <ion-row class="ion-text-center">
        <ion-col size="12">
          <ion-icon name="help-circle-sharp" color="primary" size="large"></ion-icon>
           <p>How to know the solution of each diseases?</p>
           <ion-icon name="bulb-sharp" color="primary" size="large"></ion-icon>
           <p>You can just search or scrolling the information by clicking the next button. You can see each diseases have their own grid button which one of them is the solution for diseases that you want to know. </p>
         </ion-col>
        </ion-row>
      </ion-grid>
       </ion-card>
       <ion-card>
        <ion-grid style="padding:0px;">
          <ion-row class="ion-text-center">
        <ion-col size="12">
          <ion-icon name="help-circle-sharp" color="primary" size="large"></ion-icon>
           <p>Did this application provide by having a consultation with the doctor?</p>
           <ion-icon name="bulb-sharp" color="primary" size="large"></ion-icon>
           <p>Unfortunately, this application did not provide this kind of question. But, this will be a good suggestions for developer to make this information in the future. </p>
         </ion-col>
        </ion-row>
      </ion-grid>
      </ion-card>
  </ion-content>