<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="salmon"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/sal.jpg"/>
    <ion-card-header>
        <ion-card-title>What is Salmonellosis?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Salmonella infection, or salmonellosis, is another name for (Salmonella Food Poisoning). Salmonella are a type of bacteria known to cause food-borne illness for over 125 years.</p><br>
        <p>Salmonellosis is a food-borne infection typically caused by consumption of contaminated foods.</p>

      </ion-card-content>
    </ion-card>
</ion-content>