<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="neck"></ion-back-button></ion-buttons>
     </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/neck3.jpg"/>
    <ion-card-header>
        <ion-card-title>Causes of Neck Pain</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p> Example of common causing neck pain:</p>
        <ul>
          <li>Degenerative disc diseases</li>
       
          <li>Neck strain</li>
          <li>Osteoarthritis</li>
          <li>Cervical Spondylosis</li>
          <li>Spinal Stenosis</li>
          <li>Poor Posture</li>
          <li>Neck Injury</li>
        </ul>
      </ion-card-content>
    </ion-card>
    <ion-card>
    <ion-card-content>
      <ion-card-header>
        <ion-card-title>Risk factors for Neck Pain:</ion-card-title>
      </ion-card-header>
         <ul>
          <li>Injury from involvement in contact sports</li>
          <li>Motor Vehicle accidents</li>
          <li>Bull or bronco horse riding</li>
          </ul>
         <p>Many more</p>

      </ion-card-content>
      
    </ion-card>
</ion-content>
