<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="obesity"></ion-back-button></ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/obesity6.jpg"/>
    <ion-card-header>
      <ion-card-title>Medications</ion-card-title>
        </ion-card-header>
      <ion-card-content>
        <p>Medication treatment of obesity should be used only in patients who have health risks related to obesity.</p><br>
        <p>
           Medication treatment of obesity which is:</p><br>
          <ul>
          <li>Phentermine </li></ul>
          <p>Phentermine (Fastin, Adipex P) was suppresses appetite by causing a release of norepinephrine in the body. Phentermine alone is still available for treatment of obesity but only on a short-term basis (a few weeks) </p>
          <ul>
          <li>Orlistat</li></ul>
          <p>The only lipase inhibitor approved for management of weight loss</p>
          <ul><li>Lorcaserin (Belviq)</li></ul>
          <p>A 5-HT2C receptor agonist used as an adjunct to lifestyle modifications for weight loss </p>
        <ul>
          <li>Naltrexone/Bupropion  </li>
        </ul>
        <p>Naltrexone is an opioid receptor antagonist while Bupropion is a dopamine and norepinephrine reuptake inhibitor</p>
        <ul>
          <li>Antidiabetic Medications</li>
        </ul>
        <p>Promote weight loss, reduce visceral adipose tissue, and prevent weight regain</p>
      <ul>
        <li>Lisdexamfetamine and Topiramate</li>
      </ul> 
      <p>Considered as adjunctive therapeutic agents to psychological treatment in overweight or obese patients with binge-eating disorder
      </p> 
      <ul>
        <li>Dietary Supplements and Herbal Preparations</li>
      </ul>
      <p>Not recommended for the treatment of obesity due to insufficient evidence. May contain unpredictable amount of active ingredients, have unpredictable efficacy and unknown safety profiles. </p>
      </ion-card-content>

         
        </ion-card>

</ion-content>