<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="sleep"></ion-back-button></ion-buttons>
     </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/sleep3.jpg"/>
    <ion-card-header>
        <ion-card-title>Causes of Sleep Disorder</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Sleep disorders are disruptions of the sleep cycle or the quality of sleep. This is the most common sleep disorders which is:</p><br>
        <ul>
          <li>Insomnia</li>
        </ul>
        <p>The perception of poor-quality sleep, including the inability to fall asleep or stay asleep. Because people differ in their need for sleep, there are no fixed criteria that define insomnia. Insomnia is very common and occurs in 30% of the general population.</p>
        <ul>
          <li>Sleep apnea</li>
        </ul>
        <p>Another common sleep disorder characterized by a reduction or pause of breathing (airflow) during sleep. Central sleep apnea (CSA) occurs when the brain does not send the signal to the muscles to take a breath, and there is no muscular effort to take a breath.</p>
        <ul>
          <li>Restless leg syndrome (RLS)</li>
        </ul>
        <p>Known as nocturnal myoclonus, is a type of sleep disorder characterized by uncomfortable sensations in the legs and an uncontrollable desire to move the legs. These abnormal sensations usually occur in the lower legs during the evening</p>
        <ul>
          <li>Narcolepsy</li>
        </ul>
        <p>A disease of the central nervous system that results uniformly in excessive daytime sleepiness (EDS). Other primary symptoms of narcolepsy include the loss of muscle tone (cataplexy), distorted perceptions (hypnagogic hallucinations), and the inability to move or talk (sleep paralysis).</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
    <ion-card-content>
      <ion-card-header>
        <ion-card-title>Other sleep disorders include:</ion-card-title>
      </ion-card-header>
         <ul>
          <li>Periodic limb movement disorder</li>
          <li>Hypersomnia</li>
          <li>Sleepwalking</li>
          <li>Snoring</li>
</ul>
         <img src="assets/sleep4.jpg"/>   
      </ion-card-content>
      
    </ion-card>
</ion-content>
