<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="breath"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/breath2.jpg"/>
    <ion-card-header>
        <ion-card-title>What is Bad Breath?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Bad breath, medically known as halitosis, is a common problem. Bad breath is usually simple and preventable. Dietary factors as well as tobacco and alcohol use may all be factors in causing bad breath. Poor oral hygiene, gum disease, tooth decay, or mouth infections can also be causes of halitosis. Infections in the lungs, sinuses, or airways can also cause bad breath due to the presence of nasal secretions that may drain into the mouth. Chronic postnasal drip, for example as occurs with sinus infections, can be a cause of bad breath. Coughing up sputum from lung infections can also cause bad breath. </p>
      </ion-card-content>
    </ion-card>
</ion-content>
