<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="obesity"></ion-back-button></ion-buttons>
    
    </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-card>
    <img src="assets/obesity2.jpg"/>
    <ion-card-header>
        <ion-card-title>What is Obesity?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>The definition of obesity varies depending on what one reads. In general, overweight and obesity indicate a weight greater than what is healthy. Obesity is a chronic condition defined by an excess amount of body fat. A certain amount of body fat is necessary for storing energy, heat insulation, shock absorption, and other functions. </p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
          <ion-card-title>Body Mass Index</ion-card-title>
        </ion-card-header>
        <ion-card-content>
    <p>Body mass index best defines obesity. A person's height and weight determines his or her body mass index. The body mass index (BMI) equals a person's weight in kilograms (kg) divided by their height in meters (m) squared (more information will be found later in the article). Since BMI describes body weight relative to height, there is a strong correlation with total body fat content in adults. An adult who has a BMI of 25-29.9 is overweight, and an adult who has a BMI over 30 is obese. A person with a BMI of 18.5-24.9 has a normal weight. A person is morbidly obese (extreme obesity) if his or her BMI is over 40.</p>
        </ion-card-content>
        </ion-card>

  </ion-content>