<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="malaria"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/mala4.jpg"/>
    <ion-card-header>
      <ion-card-title>What is the treatment for malaria?</ion-card-title>
        </ion-card-header>
      <ion-card-content>
        <p>
          Besides supportive care, the medical team needs to decide on the appropriate antimalarial drug(s) to treat malaria. The choice will depend on several factors, including:</p><br>
          <ul>
          <li>The specific species of parasite identified</li>
          </ul>
           <ul>
          <li>The severity of symptoms</li>
          </ul>
          <ul>
          <li>Determination of drug resistance based on the geographic area where the patient traveled</li></ul>
          </ion-card-content>
        </ion-card>
<ion-card>
  <img src="assets/mala5.jpg"/>
  <ion-card-header>
    <ion-card-title>Medications</ion-card-title>
      </ion-card-header>
  <ion-card-content>
<p>Physicians will administer the medication in pill form or as an intravenous antimalarial depending on above factors.</p><br>
<p>The most commonly used medications are:</p>
<ul>
  <li>Chloroquine (Aralen)</li>
  <li>Doxycycline (Vibramycin, Oracea, Adoxa, Atridox)</li>
  <li>Quinine (Qualaquin)</li>
  <li>Mefloquine (Lariam)</li>
  <li>Atovaquone/proguanil (Malarone)</li>
  <li>Artemether/lumefantrine (Coartem)</li>
  <li>Primaquine phosphate (Primaquine).</li>
</ul>
  </ion-card-content>
</ion-card>
</ion-content>