<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="asthma"></ion-back-button></ion-buttons>
     </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/asthma.jpg"/>
    <ion-card-header>
        <ion-card-title>Causes of asthma</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>The factors that cause a genetically predisposed individual to become asthmatic are poorly understood. <br><br></p>
      </ion-card-content>
    </ion-card>
    <ion-card>
    <ion-card-content>
      <ion-card-header>
        <ion-card-title>Risk factors for Asthma:</ion-card-title>
      </ion-card-header>
         <ul>
          <li>Family history of allergic conditions</li>
          <li>Personal history of hay fever (allergic rhinitis)</li>
          <li>Viral respiratory illness</li>
          <li>Exposure to cigarette smoke</li>
          <li>Obesity</li>
          <li>Lower socioeconomic status</li>
          <li>Exposure to air pollution or burning biomass</li>
         <br></ul>
         <img src="assets/air.jpg"/>   
      </ion-card-content>
      
    </ion-card>
</ion-content>
