<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="obesity"></ion-back-button></ion-buttons>
    
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/obesity5.jpg"/>
    <ion-card-header>
        <ion-card-title>Exercises</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Physical activity and exercise help burn calories. The amount of calories burned depends on the type, duration, and intensity of the activity. It also depends on the weight of the person.</p>
        <br>
        <p>General exercise recommendations:</p>
        <ul>
          <li>Perform 20-30 minutes of moderate exercise five to seven days a week, preferably daily. </li>
        </ul>
          <p>Types of exercise include stationary bicycling, walking or jogging on a treadmill, stair climbing machines, jogging, and swimming.</p>
          <ul>
          <li>Exercise can be broken up into smaller 10-minute sessions.</li>
        </ul>
        <ul>
          <li>Start slowly and progress gradually to avoid injury, excessive soreness, or fatigue. Over time, build up to 30-60 minutes of moderate to vigorous exercise every day.h</li>
        </ul>
        <ul>
          <li>People are never too old to start exercising. Even frail, elderly individuals (70-90 years of age) can improve their strength and balance.</li>
        </ul>
      </ion-card-content>
    </ion-card>
      <ion-card>
        <ion-card-header>
            <ion-card-title>Exercise precautions!</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <img src="assets/chest.jpg"/>
            <p>The following people should consult a doctor before vigorous exercise:</p>
            <ul>
              <li>Men over age 40 or women over age 50</li></ul>
             <ul> <li>Individuals with heart or lung disease, asthma, arthritis, or osteoporosis</li></ul>
              <ul><li>Individuals who experience chest pressure or pain with exertion, or who develop fatigue or shortness of breath easily</li></ul>
              <ul><li>Individuals with conditions or lifestyle factors that increase their risk of developing coronary heart disease, such as high blood pressure, diabetes, cigarette smoking, high blood cholesterol, or having family members with early onset heart attacks and coronary heart disease</li></ul>
              <ul><li>A patient who is obese</li></ul>
            
          </ion-card-content>
       
             </ion-card>
     </ion-content>

