<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="salmon"></ion-back-button></ion-buttons>
     </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/ocd2.jpg"/>
    <ion-card-header>
        <ion-card-title>Causes of Salmonellosis</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>This infection is caused by the Salmonella bacteria. It is transmitted in the following means and conditions:</p>
     <ul>
      <li>Contaminated food and water</li>
      <li>Poor personal hygiene</li>
      <li>Poor sanitary conditions</li>
      <li>Raw meat, sea food and poultry</li>
      <li>Raw eggs</li>
      <li>Owning a pet bird or reptile</li>
     <li> Traveling to countries with poor sanitation</li>
      </ul>
      </ion-card-content>
    </ion-card>    
</ion-content>