<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="sleep"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/sleep2.jpg"/>
    <ion-card-header>
        <ion-card-title>What is Sleep Disorder?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Sleep disorders are conditions that result in changes in the way that you sleep.

          A sleep disorder can affect your overall health, safety and quality of life. Sleep deprivation can affect your ability to drive safely and increase your risk of other health problems.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
