ion-content.background{
    --background: url(../../assets/health1.jpg) 0 0/100% 100% no-repeat;
}

ion-card-subtitles{
    font-style: italic;
  }
  
  ion-card-title{
    font-style: italic;
  }
  
  ion-card p{
    font-style: italic;
  }