<ion-header transculent>
  <ion-toolbar>
   <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="health"></ion-back-button></ion-buttons>
       <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <p class="ion-text-center">
    <img src="assets/health.png" width=100%>
  </p>
  <ion-slides pager ="true" [options]="slideOpt">
    <ion-slide>
      <ion-card >
        <ion-card-content>
          <p class="color">HiHealth is a mobile application that is provided for all community to get information about common disease that they always face it. This application is a healthy application developed for community that provides many of common disease information to help our community solve their problem efficiently. </p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card >
        <ion-card-header>
          <img src="assets/kkm.jpg" width=100%>
        </ion-card-header>
        <ion-card-content>
          <p>This mobile application there have many authentic information about common disease that have being approved by the Ministry of Health of Malaysia and professional doctor. The information is divided by two types which are short texts about common diseases but with a complex information and contains a lot of images that have related which is will make community more interested to read all the information </p>
        </ion-card-content>
      </ion-card>
    </ion-slide>

  </ion-slides>
</ion-content>
