<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="ocd"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/ocd.jpg"/>
    <ion-card-header>
        <ion-card-title>What is OCD?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Obsessive-compulsive disorder (OCD) is one of a number of obsessive compulsive and related disorders that has irresistible ideas or images (obsessions) and/or specific rituals/behaviors or mental acts (compulsions) that may be driven by obsessions as characteristics of the illness.</p><br>
        <p>The average age for OCD to begin is 19 years of age, and it usually begins by the time the individual is 30 years old.</p> <br>
        <p>People with OCD are at risk for also suffering from anxiety disorders.</p>
      </ion-card-content>
    </ion-card>
</ion-content>