<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="kidney"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/kid.jpg"/>
    <ion-card-header>
        <ion-card-title>What is Pain Kidney?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>The function and purpose of the kidneys are to remove excess fluid and waste products from the body.</p><br>
<p>The kidneys are organs that are located in the upper abdominal area against the back muscles on both the left and right side of the body.</p><br>
<p>Kidney pain and back pain can be difficult to distinguish, but kidney pain is usually deeper and higher in the and back located under the ribs while the muscle pain with common back injury tends to be lower in the back.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
