<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="kidney"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/kid5.jpg"/>
    <ion-card-header>
      <ion-card-title>Treatment</ion-card-title>
        </ion-card-header>
      <ion-card-content>
        <p>
          Kidney pain (flank pain) treatment depends on the underlying cause of the pain.</p><br>
          <ul>
          <li>Kidney Infection</li>
          </ul>
          <p>Most kidney infections are bacterial and readily treated with broad-spectrum antibiotics. Fungal and viral infections are most commonly seen in people with compromised immune systems, including organ transplant recipients and people with advanced HIV.</p>
          <ul>
          <li>Kidney Trauma</li>
          </ul>
          <p>Treatment of a renal trauma is directed by the grading of the injury based on 5 grade which is <br><ul><li>Grade 1</li><li>Grade 2</li> <li>Grade 3</li><li>Grade 4</li><li>Grade 5</li></ul> Low-grade injuries can often be treated with extended bed rest. More severe events may require surgical repair, including the placement of renal stents to open obstructed vessels. Selective embolism, in which a chemical agent or metallic coil is used to block a blood vessel, may help control bleeding</p>
          <ul>
          <li>Renal Obstruction</li></ul>
          <p>Treatment is primarily focused on relieving the source of the obstruction. This may involve antibiotics to resolve an infection, nephrostomy (the drainage of urine with a urethral catheter), or surgery if a stone cannot be passed on its own.</p>
           <ul>
             <li>Renal Tumors or Cysts</li>
           </ul>
           <p>Depending on the findings, treatment may involve selective embolism to reduce the size of a tumor (essential "starving" the tumor of the blood needed for growth) or nephrectomy to remove part or all of the affected kidney.
             Benign tumors are often treated in the same way as cancerous ones if they obstruct vessels or tubules inside of the kidney.</p>  
        </ion-card-content>

         
        </ion-card>

</ion-content>