<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="allergy"></ion-back-button></ion-buttons>
     </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/allergy3.jpg"/>
    <ion-card-header>
        <ion-card-title>Causes of Allergy</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>An allergy starts when your immune system mistakes a normally harmless substance for a dangerous invader. The immune system then produces antibodies that remain on the alert for that particular allergen. When you're exposed to the allergen again, these antibodies can release a number of immune system chemicals, such as histamine, that cause allergy symptoms. <br><br></p>
      </ion-card-content>
    </ion-card>
</ion-content>
