<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="salmon"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/sal2.jpg"/>
    <ion-card-header>
        <ion-card-title>Symptom/  Signs</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Symptoms of Salmonella poisoning usually begin 12-72 hours after infection which is:</p><br>
<ul>
  <li>Diarrhea</li></ul>
  <p>The diarrhea is typically loose and not bloody.</p>
  <ul><li>Abdominal cramping</li></ul>
  <ul><li>Fever</li></ul>
  <ul><li>Nausea</li>
</ul>
<img src="assets/sal3.jpg"/>
<ul>
  <li>Vomiting</li>
</ul>
<img src="assets/sal4.jpg"/>
<ul>
  <li>Headache</li>
</ul>
<ul>
  <li>Muscle aches</li>
</ul>
<p>The symptoms usually go away on their own after four to seven days.</p>
      </ion-card-content>
    </ion-card>
</ion-content>