<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="addison"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/add.jpg"/>
    <ion-card-header>
        <ion-card-title>What is Addison's Diseases?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Addison's disease is an endocrine or hormonal disorder that occurs in all age groups and afflicts men and women equally. The disease is characterized by weight loss, muscle weakness, fatigue, low blood pressure, and sometimes darkening of the skin in both exposed and nonexposed parts of the body.</p><br>

      </ion-card-content>
    </ion-card>
</ion-content>