<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="depression"></ion-back-button></ion-buttons>
    
    </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-card>
    <img src="assets/depression2.jpg"/>
    <ion-card-header>
        <ion-card-title>What is Depression?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Depression is a common and serious medical illness that negatively affects how you feel, the way you think and how you act.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
