<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="sleep"></ion-back-button></ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/sleep6.jpg"/>
    <ion-card-header>
      <ion-card-title>How are sleep disorders treated?</ion-card-title>
        </ion-card-header>
      <ion-card-content>
        <p>Treatment for sleep disorders can vary depending on the type and underlying cause. However, it generally includes a combination of medical treatments and lifestyle changes.</p>
        </ion-card-content>   
        </ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Medical treatments</ion-card-title>
  </ion-card-header>
  <ion-card-content>Medical treatment for sleep disturbances might include any of the following:</ion-card-content>
  <ul>
    <li>Sleeping pills</li><br>
    <li>Melatonin supplements</li><br>
<li>Allergy or cold medication</li><br>
<li>Medications for any underlying health issues</li><br>
<li>Breathing device or surgery (usually for sleep apnea)</li><br>
<li>A dental guard (usually for teeth grinding)</li>
  </ul>
  <img src="assets/sleep7.jpg"/>
</ion-card>
</ion-content>
