<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="malaria"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/mala.jpg"/>
    <ion-card-header>
        <ion-card-title>What is Malaria?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Malaria is a serious, life-threatening, and sometimes fatal, disease spread by mosquitoes and caused by a parasite. The illness presents with flu-like symptoms that include high fever and chills.</p><br>

      </ion-card-content>
    </ion-card>
</ion-content>