<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="neck"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img width="900" src="assets/neck2.jpg"/>
    <ion-card-header>
        <ion-card-title>What is Neck Pain?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Pain located in the neck is a common medical condition. Neck pain can come from a number of disorders and diseases and can involve any of the tissues in the neck</p>
      </ion-card-content>
    </ion-card>
</ion-content>