<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="dengue"></ion-back-button></ion-buttons>
     </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/dengue2.jpg"/>
    <ion-card-header>
        <ion-card-title>Causes of Dengue Fever</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ul>
          <li>Dengue fever is caused by a virus called dengue virus which is transmitted by a mosquito species called Aedes </li>
        </ul>
        <ul>
          <li>Dengue virus has different types and once infected by one type, prolonged immunity is observed to the particular type and a short lived immunity to the other types</li>
        </ul>
        <ul>
          <li>Usually it is spread by a female Aedes mosquito which normally bites an infected person in the morning to take a blood meal and spreads the virus anytime of the day. In 2-10 days, the mosquito becomes infected and virus spreads to other tissues and is released into saliva. Once the mosquito bites an uninfected person, the person becomes infected. The mosquito is usually infected for lifetime</li>
        </ul>
        <ul>
          <li>It also spreads through blood or organ donation from an infected person</li>
        </ul>
      </ion-card-content>
    </ion-card>
</ion-content>