<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="obesity"></ion-back-button></ion-buttons>
     </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/obesity3.jpg"/>
    <ion-card-content>
      <ion-card-header>
        <ion-card-title>Causes for obesity:</ion-card-title>
      </ion-card-header>
         <ul>
          <li>Physical inactivity</li>
         </ul>
         <p>Sedentary people burn fewer calories than people who are active.</p>
         <ul>
          <li>Overeating</li>
        </ul>
        <p>Overeating leads to weight gain, especially if the diet is high in fat. Foods high in fat or sugar (for example, fast food, fried food, and sweets) have high energy density (foods that have a lot of calories in a small amount of food).</p>
        <ul>
        <li>Genetics</li>
      </ul>
      <p>A person is more likely to develop obesity if one or both parents are obese. Genetics also affect hormones involved in fat regulation.</p>
      <ul>   
      <li>A diet high in simple carbohydrates</li>
    </ul> 
    <p>The role of carbohydrates in weight gain is not clear. Carbohydrates increase blood glucose levels, which in turn stimulate insulin release by the pancreas, and insulin promotes the growth of fat tissue and can cause weight gain</p>
     <ul>
     <li>Frequency of eating</li>
    </ul>
    <p>The relationship between frequency of eating (how often you eat) and weight is somewhat controversial. There are many reports of overweight people eating less often than people with normal weight.</p>
    <ul>
    <li>Medications</li>
    </ul>
    <p>The reason for the weight gain with the medications differs for each medication. If this is a concern for you, you should discuss your medications with your physician rather than discontinuing the medication, as this could have serious effects.</p>
    <ul>    
    <li>Psychological factors</li>
  </ul>  
  <p>For some people, emotions influence eating habits. Many people eat excessively in response to emotions such as boredom, sadness, stress, or anger. While most overweight people have no more psychological disturbances than normal weight people, about 30% of the people who seek treatment for serious weight problems have difficulties with binge eating.</p> 
    <ul>
      <li>Diseases</li>
    </ul>
    <p>such as hypothyroidism, insulin resistance, polycystic ovary syndrome, and Cushing's syndrome are also contributors to obesity.</p>
    <ul>
      <li>Social issues</li>
    </ul>    
    <p>There is a link between social issues and obesity. Lack of money to purchase healthy foods or lack of safe places to walk or exercise can increase the risk of obesity.</p>
    <img src="assets/obesity4.jpg"/>   
      </ion-card-content>
      
    </ion-card>
</ion-content>