<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="depression"></ion-back-button></ion-buttons>
    
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/depression7.jpg"/>
    <ion-card-header>
        </ion-card-header>
      <ion-card-content>
        <p>
          A variety of health care specialists evaluate and treat people with this condition, including the following:<br>
          <ul>
          <li>Primary care providers like family doctors, internal-medicine practitioners, gynecologists, or geriatricians (physicians who specialize in treating the elderly)</li>
          <li>Mental health specialists, such as psychiatrists, clinical psychologists, social workers, pastoral or mental health nurses, or other counselors</li>
          <li>Primary care or mental health prescribers, like physician assistants or nurse practitioners </li>
          <li>Health-maintenance organizations</li>
          <li>Community mental health centers</li>
          <li>Hospital psychiatry departments and outpatient clinics</li>
          <li>Community support groups, often hospital affiliated</li>
          <li>University or medical school-affiliated programs</li>
          <li>State hospital outpatient clinics</li>
          <li>Family service/social agencies</li>
          <li>Private clinics and facilities</li>
          <li>Employee assistance programs</li>
          <li>Local medical and/or psychiatric societies</li>
        </ul>
        </ion-card-content>

         
        </ion-card>

</ion-content>