<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="taste"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/taste.jpg"/>
    <ion-card-header>
        <ion-card-title>What is Taste Disorder?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>The most common taste disorder is phantom taste perception, which is a lingering, often unpleasant taste even though you have nothing in your mouth. Another type of taste disorder is hypogeusia, a reduced ability to taste sweet, sour, bitter, salty, and savory (umami). Dysgeusia is a condition in which a foul, salty, rancid, or metallic taste sensation will persist in the mouth. Ageusia is the inability to detect any tastes, which is rare.</p><br>
<p>Often, people who feel they have a problem with their sense of taste are experiencing a loss of smell instead of a loss of taste.</p>
      </ion-card-content>
    </ion-card>
</ion-content>