<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="allergy"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/allergy2.jpg"/>
    <ion-card-header>
        <ion-card-title>What is Allergy?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>An allergy is an exaggerated reaction by the immune system in response to exposure to certain foreign substances. The response is exaggerated because these foreign substances are normally seen as harmless by the immune system in nonallergic individuals and do not cause a response in them. In allergic individuals, the body recognizes the substance as foreign, and the allergic part of the immune system generates a response.</p><br>

      </ion-card-content>
    </ion-card>
</ion-content>
