<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="hyper"></ion-back-button></ion-buttons>
     </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/hyper2.jpg"/>
        <ion-card-title class="ion-text-center">Causes of Hyperhidrosis</ion-card-title>
      <ion-card-content>
        <p>Otherwise healthy people with excessive sweating have primary hyperhidrosis. Heat and emotions may trigger hyperhidrosis in some, but many who suffer from hyperhidrosis perspire nearly all the time, regardless of their mood or the weather.</p><br>
        <p>Secondary hyperhidrosis can be caused by medications such as:</p>
        <ul>
          <li>Dopamine agonists</li>
          <li>Antidepressants</li>
          <li>Antipsychotics</li>
          <li>Alcohol</li>
          <li>Insulin</li>
          <li>Diabetes mellitus</li>
          <li>Hyperthyroidism</li>
          <li>Parkinson's diseases</li>
        </ul>
      </ion-card-content>
    </ion-card>
</ion-content>