<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="ear"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img width="800" src="assets/ear3.jpg"/>
    <ion-card-header>
        <ion-card-title>Symptom/   Signs</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>A few of the common symptoms of ear infections include:</p>
      <ul>
       <li>Mild pain or discomfort inside the ear</li>
<li> A feeling of pressure inside the ear that persists</li>
<li>Fussiness in young infants</li> 
<li>Pus-like ear drainage</li>   
<li>Hearing loss</li>  
</ul>
<p>These symptoms might persist or come and go. Symptoms may occur in one or both ears. Pain is usually more severe with double ear infection (infection in both ears).</p>
      
      </ion-card-content>
    </ion-card>
</ion-content>