<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="ear"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/ear.jpg"/>
    <ion-card-header>
        <ion-card-title>What is Ear Infection?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>An ear infection occurs when a bacterial or viral infection affects the middle ear (the sections of your ear just behind the eardrum). Ear infections can be painful because of inflammation and fluid buildup in the middle ear. </p>
      <br>
    <p>Ear infections can be chronic or acute.</p>
      <br>
      <p>Acute ear infections are painful but short in duration.</p>
  </ion-card-content>
    </ion-card>
</ion-content>
