<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="dengue"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/dengue5.jpg"/>
    <ion-card-header><ion-card-title>Treatment</ion-card-title>
        </ion-card-header>
      <ion-card-content>
        <p>
          Because a virus causes dengue fever, there are no specific antibiotics to treat it. Antiviral medications are also not indicated for dengue fever. For typical dengue, the treatment is concerned with relief of the symptoms and signs. Home remedies such as rest and fluid intake (oral rehydration) are important.</p><br>
          <p>Only take pain relievers such as aspirin and nonsteroidal anti-inflammatory drugs (NSAIDs) under a doctor's supervision because of the possibility of worsening bleeding complications.</p><br>
          <p>Acetaminophen (Tylenol) and codeine may be given for severe headache and for joint and muscle pain (myalgia).
            Patients hospitalized for dengue may receive IV fluids.</p>
           </ion-card-content> 
        </ion-card>
        <ion-card>
          <img src="assets/dengue4.jpg"/>
          <ion-card-header>
            <ion-card-title>Prevention</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ul>
              <li>Dengue fever vaccine should be taken</li>
            </ul>
            <ul>
              <li>Exposure to mosquitoes should be avoided. This is possible by
                drainage of stagnant water
                </li>
            </ul>
            <ul>
              <li>Inhibiting breeding of mosquitoes by apply of oil to stagnant water
              </li>
            </ul>
            <ul>
              <li>Application of insecticides to open waters</li>
            </ul>
            <ul>Wearing clothes which cover the whole body</ul>
          </ion-card-content>
        </ion-card>
</ion-content>