<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="taste"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/taste3.jpg"/>
    <ion-card-header>
        <ion-card-title>Symptom/  Signs</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Taste disorder symptoms and signs:</p><br>
<ul>
  <li>Foul, Rancid, or Metallic Sensation in the Mouth</li>
</ul>
<ul>
  <li>Inability to Detect Tastes</li>
</ul>
<ul>
  <li>Reduced Ability to Taste Sweet, Savory (Umami), Salty, Sour, and Bitter</li>
</ul>
<ul>
  <li>Unpleasant Taste Unrelated to Anything in the Mouth</li>
</ul>
      </ion-card-content>
    </ion-card>
</ion-content>