<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="hemo"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img width="1000" src="assets/hemo7.jpg"/>
    <ion-card-header>
      <ion-card-title>What are treatments for hemophilia?</ion-card-title>
        </ion-card-header>
      <ion-card-content>
        <p>
          The mainstay of treatment is replacement of the blood clotting factors. Clotting factor concentrates can be purified from human donor blood or made in the laboratory using methods that do not use donor blood. This type of therapy is known as replacement therapy. Clotting factor replacement therapy is carried out by infusing the clotting factor concentrates into a vein, much like a blood transfusion. This type of therapy can be administered at home with proper instruction and training.

</p><br>
        </ion-card-content>

         
        </ion-card>

</ion-content>