<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="elbow"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img width="1000" src="assets/elbow4.jpg"/>
    <ion-card-header>
        </ion-card-header>
      <ion-card-content>
        <p>
          The treatment for elbow pain depends on the precise cause of the pain.</p><br>
          <p>Treatments for simple inflammation can include:</p>
          <ul>
          <li>Immobilization</li>
          </ul>
          <ul>
          <li>Anti-inflammatory medications</li>
          </ul>
          <ul>
          <li> Cold application </li></ul>
          <br>
          <p>Treatments for fracture:</p>
          <ul>
            <li>Casting & Surgical repair</li>
          </ul><br>
          <p>Treatments for infection include:</p>
          <ul>
            <li>Drainage</li>
            <li>Antibiotics</li>
          </ul>
           </ion-card-content>

         
        </ion-card>

</ion-content>