<ion-header transculent>
  <ion-toolbar>
   <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="health"></ion-back-button></ion-buttons>
       <ion-title>Reference</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding class="background">
      <ion-card>
          <img src="assets/ref.jpg" width=100%>
        <ion-grid style="padding:0px;">
          <ion-row class="ion-text-center">
        <ion-col size="12">
          <ion-icon name="logo-chrome" color="primary" size="large"></ion-icon>
           <p>www.myhealth.gov.my</p>
           </ion-col>
        </ion-row>
      </ion-grid>
      </ion-card>
      <ion-card>
        <img src="assets/ref2.jpg" width=100%>
      <ion-grid style="padding:0px;">
        <ion-row class="ion-text-center">
      <ion-col size="12">
        <ion-icon name="logo-chrome" color="primary" size="large"></ion-icon>
         <p>www.medicinenet.com</p>
         </ion-col>
      </ion-row>
    </ion-grid>
    </ion-card>
      </ion-content>
