<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="dengue"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img width="1000" src="assets/dengue3.jpg"/>
    <ion-card-header>
        <ion-card-title>Symptoms/  Signs</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Dengue infection is a leading cause of death and sickness in tropical and subtropical parts of the world. Dengue hemorrhagic fever is a more serious form of dengue infection.</p><br>
<p>Primary symptoms of dengue appear three to 15 days after the mosquito bite and include high fever and severe headache, with severe pain behind the eyes that is apparent when trying to move the eyes. Another symptom and signs which is:</p>
<ul>
  <li>Abdominal Pain</li>
</ul>
<ul>
  <li>Bleeding gums</li>
</ul>
<ul>
  <li>Bone Pain</li>
</ul>
<ul>
  <li>Chills</li>
</ul>
<ul>
  <li>Difficulty Breathing</li>
</ul>
<ul>
  <li>Easy Bruising</li>
</ul>
<ul>
  <li>Fatigue</li>
</ul>
<ul>
  <li>Fever</li>
</ul>
<ul>
  <li>Headache</li>
</ul>
<ul>
  <li>Joint Pain</li>
</ul>
<ul>
  <li>Loss of Appetite</li>
</ul>
<ul>
  <li>Low Back Pain</li>
</ul>
<ul>
  <li>Muscle Pain</li>
</ul>
<ul>
  <li>Nausea</li>
</ul>
<ul>
  <li>Nosebleeds</li>
</ul>
<ul>
  <li>Pain behind the eyes</li>
</ul>
<ul>
  <li>Rash (Red spots on the skin)</li>
</ul>
<ul>
  <li>Vomiting</li>
</ul>
      </ion-card-content>
    </ion-card>
</ion-content>