<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="elbow"></ion-back-button></ion-buttons>
     </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/elbow2.jpg"/>
    <ion-card-header>
        <ion-card-title>Causes of Pain Elbow</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>There are multiple causes of elbow pain:</p>
        <ul>
          <li>Lateral Epicondylitis</li>
        </ul>
        <p>Lateral epicondylitis, also called tennis elbow, is the most common cause of elbow pain and refers to inflammation of the tendon that attaches the elbow bone to the forearm muscles used to extend the wrist and fingers. People who repetitively use their forearm muscles, such as tennis players, weightlifters, painters, and plumbers, are especially prone to developing lateral epicondylitis</p>
        <ul>
          <li>Medial Epicondylitis (golfer's elbow)</li>
        </ul>
        <p>Medial epicondylitis is inflammation at the point where the tendons of the forearm attach to the bony prominence of the inner elbow. Golfer's elbow is characterized by local pain and tenderness over the inner elbow. The range of motion of the elbow is preserved because the inner joint of the elbow is not affected. </p>
      <ul>
        <li>Olecranon Bursitis</li>
      </ul>
      <p>Olecranon bursitis (inflammation of the bursa at the tip of the elbow) can occur from injury or minor trauma as a result of systemic diseases such as gout or rheumatoid arthritis, or it can be due to a local infection. Olecranon bursitis is typically associated with swelling over the tip of the elbow, while range of motion of the inner elbow joint is maintained.</p>
    <ul>
      <li>Fractures</li>
    </ul> 
    <p>The bones of the elbow can break (fracture) into the elbow joint or adjacent to the elbow joint. </p>
    <ul>
      <li>Sprain
      </li>
    </ul>
    <p>A sprain is a stretch or tear injury to a ligament. One or more ligaments can be injured during a sprain</p>
    </ion-card-content>
    </ion-card>
</ion-content>
