<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="asthma"></ion-back-button></ion-buttons>
    
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/asthma3.jpg"/>
    <ion-card-header>
        <ion-card-title>Symptoms/
          Signs</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ul>
          <li>Wheezing</li>
          <li>Shortness of Breath</li>
          <li>Cough</li>
         <br></ul>
         <p> Symptoms vary among affected individuals. Some people have mild symptoms that occur infrequently, while others have more frequent or more severe symptoms. Severe asthma attacks can be life-threatening.</p>
         
      </ion-card-content>
    </ion-card>
      <ion-card>
        <ion-card-header>
            <ion-card-title>Other Symptoms/
              Signs:</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <img src="assets/chest.jpg"/>
            <ul>
              <li>Chest Pain</li>
              <li>Chest Tightness</li>
              <li>Dyspnea (Difficulty Breathing</li>
              <li>Fatigue</li>
              <li>Trouble Sleeping</li>
             </ul>
          </ion-card-content>
       
             </ion-card>
     </ion-content>
