<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="allergy"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/allergy9.jpg"/>
    <ion-card-header>
        </ion-card-header>
      <ion-card-content>
        <p>
          Preventing allergic reactions depends on the type of allergy you have. General measures include the following:</p><br>
          <ul>
          <li>Avoid known triggers</li>
          </ul>
          <p>Even if you're treating your allergy symptoms, try to avoid triggers. If, for instance, you're allergic to pollen, stay inside with windows and doors closed when pollen is high. If you're allergic to dust mites, dust and vacuum and wash bedding often.</p>
          <ul>
          <li>Keep a diary</li>
          </ul>
          <p>When trying to identify what causes or worsens your allergic symptoms, track your activities and what you eat, when symptoms occur and what seems to help. This may help you and your doctor identify triggers.</p>
          <ul>
          <li>Wear a medical alert bracelet </li></ul>
          <p>If you've had a severe allergic reaction, a medical alert bracelet (or necklace) lets others know that you have a serious allergy in case you have a reaction and you're unable to communicate.</p>
        </ion-card-content>

         
        </ion-card>

</ion-content>
