<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="malaria"></ion-back-button></ion-buttons>
     </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/mala2.jpg"/>
    <ion-card-header>
        <ion-card-title>Causes of Malaria</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Parasites of the genus Plasmodium cause malaria. Although there are many species of the malaria parasite Plasmodium, only five infect humans and cause malaria.</p><br>
      </ion-card-content>
    </ion-card>
</ion-content>