<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="asthma"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/asthma2.jpg"/>
    <ion-card-header>
        <ion-card-title>What is Asthma?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Asthma is a clinical syndrome of chronic airway inflammation characterized by recurrent, reversible, airway obstruction. Airway inflammation also leads to airway hyperreactivity, which causes airways to narrow in response to various stimuli </p>
      </ion-card-content>
    </ion-card>
</ion-content>
