<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="neck"></ion-back-button></ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/neck5.jpg"/>
    <ion-card-header>
      <ion-card-title>See your doctor if:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>If symptoms persist for more than a week, consult with your doctor. You should also see a doctor if you have:</p>
      <ul>
        <li>Severe neck pain without apparent cause</li>
        <li>Lump in your neck</li>
      <li>Fever</li>  
      <li>Headache</li>  
      <li>Swallon Glands</li>
      <li>Nausea</li>
      <li>Vomiting</li>
      <li>Trouble Swallowing/Breathing</li>
      <li>Weakness</li>
      <li>Inability to move your arms or hands</li>
      <li>Inability to touch your chin to your chest</li>
      <li>Bladder or bowel dysfunction</li>
      <li>Pain that radiates down your arms or legs</li>
    </ul>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Treatment</ion-card-title>
        </ion-card-header>
      <ion-card-content>
        <img src="assets/neck6.jpg"/>
        <p>
           Neck pain can make treatment such as:<br>
          <ul>
            <li>Exercise, stretching, and physical therapy</li>
            <li>Pain medication</li>
            <li>Corticosteroid injections</li>
            <li>Muscle relaxants</li>
            <li>Neck collar</li>
            <li>Traction</li>
            <li>Antibiotics if you have an infection</li>
            <li>Hospital treatment if a condition such as meningitis or heart attack is the cause</li>
            <li>Surgery, which is rarely necessary</li>
        </ul>
        <br>
        <p>Alternative therapies include:</p>
        <ul>
          <li>Acupuncture</li>
          <li>Chiropractic Treatment</li>
          <li>Massage</li>
          <li>Transcutaneous Electrical Nerve Stimulation (TENS)</li>
        </ul>
        </ion-card-content>

         
        </ion-card>

</ion-content>