<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="elbow"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img width="1000" src="assets/elbow.jpg"/>
    <ion-card-header>
        <ion-card-title>What is Pain Elbow?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Elbow pain, which may range from the burning sensation of an inflamed tendon to the severe sharp pain associated with an elbow fracture or dislocation, may come and go, be constant, worsen with forearm movements, and/or be associated with symptoms like numbness and tingling in the hand.</p><br>

      </ion-card-content>
    </ion-card>
</ion-content>