<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="ear"></ion-back-button></ion-buttons>
     </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/ear2.jpg"/>
    <ion-card-header>
        <ion-card-title>Causes an Ear Infection</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>An ear infection occurs when one of your eustachian tubes becomes swollen or blocked, causing fluid to build up in your middle ear. Eustachian tubes are small tubes that run from each ear directly to the back of the throat. </p><br>
        <p>Causes of eustachian tube blockage include:</p>
        <ul>
          <li>Allergies</li>
          <li>Colds</li>
          <li>Sinus Infections</li>
          <li>Excess Mucus</li>
          <li>Smoking</li>
          <li>Infected or swollen adenoids (tissue near your tonsils that traps harmful bacteria and viruses)</li>
          <li>Changes in air pressure
          </li>
        </ul>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Risk factors for Ear Infection:</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Ear infections occur most commonly in young children because they have short and narrow eustachian tubes. Infants who are bottle-fed also have a higher incidence of ear infections than their breastfed counterparts.</p><br>
        <p>Other factors that increase the risk of developing an ear infection are:</p>
         <ul>
          <li>Altitude changes</li>
          <li>Climate changes</li>
          <li>Exposure to cigarette smoke</li>
          <li>Pacifier use</li>
          <li>Recent illness or ear infection</li>
        </ul>  
      </ion-card-content>
    </ion-card>
</ion-content>