<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="asthma"></ion-back-button></ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/asthma4.jpg"/>
    <ion-card-header>
        </ion-card-header>
      <ion-card-content>
        <p>
           Asthma need a medications which is:<br>
          <ul>
          <li>Using inhalers either with or without a spacer or nebulized solution</li>
          <li>Smoking cessation/
            Minimizing exposure to secondhand smoke</li>
          <li>Having a treatment with a specialist doctor in any hospital </li>
        </ul>
        </ion-card-content>

         
        </ion-card>

</ion-content>
