<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="addison"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/add3.jpg"/>
    <ion-card-header>
        <ion-card-title>Symptoms/  Signs</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>The symptoms of adrenal insufficiency usually begin gradually. Characteristics of the disease are:</p><br>
<ul>
  <li>Chronic, worsening fatigue</li>
</ul>
<ul>
  <li>Muscle weakness</li>
</ul>
<ul>
  <li>Loss of appetite</li>
</ul>
<ul>
  <li>Weight loss</li>
</ul><br>
<p>About 50 percent of the time, one will notice:</p>
<ul>
  <li>Nausea</li></ul>
  <ul><li>Vomiting</li></ul>
  <ul><li>Diarrhea</li>
</ul>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Other Symptom</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ul>
          <li>Low blood pressure that falls further when standing, causing dizziness or fainting</li>
        </ul>
        <ul>
          <li>Skin changes in Addison's disease, with areas of hyperpigmentation, or dark tanning, covering exposed and nonexposed parts of the body; this darkening of the skin is most visible on scars; skin folds; pressure points such as the elbows, knees, knuckles, and toes; lips; and mucous membranes</li>
        </ul>
      </ion-card-content>
    </ion-card>
</ion-content>