<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="eyes"></ion-back-button></ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/dry5.jpg"/>
    <ion-card-header>
      <ion-card-title>Prevention</ion-card-title>
        </ion-card-header>
      <ion-card-content>
        <p>
          If you experience dry eyes, pay attention to the situations that are most likely to cause your symptoms. Then find ways to avoid those situations in order to prevent your dry eyes symptoms. For instance:<br>
          <ul>
          <li>Avoid air blowing in your eyes</li>
        </ul>
        <p>Don't direct hair dryers, car heaters, air conditioners or fans toward your eyes</p>
        <ul>
          <li>Add moisture to the air</li>
        </ul>
        <p>In winter, a humidifier can add moisture to dry indoor air.</p>
        <ul>
          <li>Consider wearing wraparound sunglasses or other protective eyewear</li>
        </ul>
        <p>Safety shields can be added to the tops and sides of eyeglasses to block wind and dry air. Ask about shields where you buy your eyeglasses.</p>
        <ul>
          <li>Take eye breaks during long tasks</li>
        </ul>
        <p>If you're reading or doing another task that requires visual concentration, take periodic eye breaks. Close your eyes for a few minutes. Or blink repeatedly for a few seconds to help spread your tears evenly over your eyes.</p>
        <ul>
          <li>Be aware of your environment</li>
        </ul>
        <p>The air at high altitudes, in desert areas and in airplanes can be extremely dry. When spending time in such an environment, it may be helpful to frequently close your eyes for a few minutes at a time to minimize evaporation of your tears.</p>
        <ul>
          <li>Position your computer screen below eye level</li>
        </ul>
        <p>If your computer screen is above eye level, you'll open your eyes wider to view the screen. Position your computer screen below eye level so that you won't open your eyes as wide. This may help slow the evaporation of your tears between eye blinks.</p>
      <ul>
        <li>Stop smoking and avoid smoke</li>
      </ul>  
      <p>If you smoke, ask your doctor for help devising a quit-smoking strategy that's most likely to work for you. If you don't smoke, stay away from people who do. Smoke can worsen dry eyes symptoms.</p>
      <ul>
        <li>Use artificial tears regularly</li>
      </ul>
      <p>If you have chronic dry eyes, use eyedrops even when your eyes feel fine to keep them well lubricated.</p>
      </ion-card-content>

         
        </ion-card>

</ion-content>
