<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="malaria"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/mala3.jpg"/>
    <ion-card-header>
        <ion-card-title>Symptom/  Signs</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Malaria has a wide spectrum of symptoms. After the bite by the infected mosquito occurs, it can take between seven and 30 days (average is seven to 15 days) before symptoms start (incubation period).
        </p><br>
         <p> Health care professionals classify malaria as uncomplicated or complicated (severe)</p><br>
         <p>The most common symptoms are:</p>
         <ul>
           <li>Fever and chills</li>
           <li>Headaches</li>
           <li>Nausea and vomiting</li>
           <li>General weakness and body aches</li>
         </ul>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Malaria can affects different body systems which is:</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ul>
          <li>Severe anemia (due to destruction of red blood cells)</li>
          <li>Kidney failure</li>
          <li>Cerebral malaria seizures, unconsciousness, abnormal behavior, or confusion</li>
          <li>Cardiovascular collapse</li>
          <li>Low blood sugar (in pregnant women after treatment with quinine)</li>
        </ul>
      </ion-card-content>
    </ion-card>
</ion-content>