<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="hemo"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/hemo.jpg"/>
    <ion-card-header>
        <ion-card-title>What is Hemophilia?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Hemophilia is not one disease but rather one of a group of inherited bleeding disorders that cause abnormal or exaggerated bleeding and poor blood clotting. The term is most commonly used to refer to two specific conditions known as hemophilia A and hemophilia B</p><br>

      </ion-card-content>
    </ion-card>
</ion-content>