<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="addison"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/add4.jpg"/>
    <ion-card-header><ion-card-title>Prevention</ion-card-title>
        </ion-card-header>
      <ion-card-content>
         <ul>
          <li>Carry a medical badge or card that indicates Addison’s disease and any other associated health conditions
          </li>
          </ul>
         <ul>
          <li>Do not skip your medications
          </li>
          </ul>
          <ul>
          <li>Take your prescribed medications in right doses and at the right time</li></ul>
          <ul>
            <li>Visit your doctor regularly</li>
          </ul>
           </ion-card-content>

         
        </ion-card>

</ion-content>