<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="allergy"></ion-back-button></ion-buttons>
    
    </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-card>
    <ion-card-header>
        <ion-card-title>Symptoms/
          Signs</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Allergy symptoms, which depend on the substance involved, can affect your airways, sinuses and nasal passages, skin, and digestive system. Allergic reactions can range from mild to severe. In some severe cases, allergies can trigger a life-threatening reaction known as anaphylaxis.</p>
        <br>
        <img src="assets/allergy5.jpg"/>
        <p>Hay fever, also called allergic rhinitis, can cause:</p>
        <ul>
          <li>Sneezing</li>
          <li>Itching of the nose, eyes or roof of the mouth</li>
          <li>Runny, stuffy nose</li>
          <li>Watery, red or swollen eyes (conjunctivitis)</li>
         <br></ul>
      </ion-card-content>
    </ion-card>
      <ion-card>
        <ion-card-header>
            <ion-card-title>Other Symptoms/
              Signs(Cont):</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <img src="assets/allergy6.jpg"/>
            <p>A food allergy can cause:</p>
            <ul>
              <li>Tingling in the mouth</li>
              <li>Swelling of the lips, tongue, face or throat</li>
              <li>Hives</li>
              <li>Anaphylaxis</li>
             </ul>
          </ion-card-content>
             </ion-card>
             <ion-card>
              <ion-card-header>
                  <ion-card-title>Other Symptoms/
                    Signs (Cont):</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <img src="assets/allergy7.jpg"/>
                  <p>An insect sting allergy can cause:</p>
                  <ul>
                    <li>A large area of swelling (edema) at the sting site</li>
                    <li>Itching or hives all over the body</li>
                    <li>Cough, chest tightness, wheezing or shortness of breath</li>
                    <li>Anaphylaxis</li>
                   </ul>
                </ion-card-content>
                   </ion-card>
                   <ion-card>
                    <ion-card-header>
                        <ion-card-title>Other Symptoms/
                          Signs(Cont):</ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                        <img src="assets/allergy8.jpg"/>
                        <p>A drug allergy can cause:</p>
                        <ul>
                          <li>Itchy skin</li>
                          <li>Rash</li>
                          <li>Hives</li>
                          <li>Facial swelling</li>
                          <li>Wheezing</li>
                          <li>Anaphylaxis</li>
                         </ul>
                      </ion-card-content>
                         </ion-card>
                         <ion-card>
                          <ion-card-header>
                              <ion-card-title>Other Symptoms/
                                Signs(Cont):</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                              <img src="assets/allergy9.jpg"/>
                              <p>Atopic dermatitis, an allergic skin condition also called eczema, can cause skin to:</p>
                              <ul>
                                <li>Itchy skin</li>
                                <li>Redden</li>
                                <li>Flake or peel</li>
                               </ul>
                            </ion-card-content>
                               </ion-card>
                      
     </ion-content>

