<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="hyper"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/hyper3.jpg"/>
    <ion-card-header>
        <ion-card-title>Symptom/  Signs</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Generally, the only sign of excessive sweating is the presence of abundant moisture in the anatomical area affected. The presence of this moisture can predispose to skin infections.</p><br>

      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Risk factors for Hyperhidrosis</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>As stated above, there are a number of conditions and diseases that produce secondary hyperhidrosis. Treating the underlying condition can help relieve at least some of the excessive sweating.</p>
      </ion-card-content>
    </ion-card>
</ion-content>