<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="kidney"></ion-back-button></ion-buttons>
     </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/kid2.jpg"/>
    <ion-card-header>
        <ion-card-title>Causes of kidney pain</ion-card-title>
      </ion-card-header>
      <ion-card-content>
       <ul>
         <li>Urinary tract infections</li>
       </ul>
       <ul>
         <li>Kidney infections</li>
       </ul>
       <ul>
         <li>Kidney stones</li>
       </ul>
       <ul>
         <li>Penetrating and blunt trauma</li>
       </ul>
       <p>Causes of kidney pain are diagnosed with the patient's history, physical examination, and lab tests, including blood, pregnancy, and urine tests. A CT scan or MRI of the abdomen and pelvis may be ordered.</p>
      </ion-card-content>
    </ion-card>
   
</ion-content>