<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="taste"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img width="1000" src="assets/taste4.jpg"/>
    <ion-card-header>
<ion-card-title>Treatment</ion-card-title>
        </ion-card-header>
      <ion-card-content>
          <ul>
          <li>Diagnosis by an otolaryngologist </li>
          </ul>
          <p>Important to identify and treat the underlying cause of your disorder.</p>
          <ul>
          <li>Stopping or changing your medicine</li>
          </ul>
          <p>Help eliminate the problem <br>Do not stop taking your medications unless directed by your doctor.</p>

          <ul>
          <li>Proper oral hygiene</li></ul>
          <p>Important to regaining and maintaining a well-functioning sense of taste.</p>
       <ul>
         <li>Counseling</li>
       </ul>
       <p>If your taste disorder can't be successfully treated, counseling may help you adjust to your problem</p>
        </ion-card-content>

         
        </ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title class="ion-text-center">Another solution</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>If you lose some or all of your sense of taste, here are things you can try to make your food taste better:</p>
    <ul>
      <li>Prepare foods with a variety of colors and textures.</li>
    </ul>
    <ul>
      <li>Use aromatic herbs and hot spices to add more flavor; however, avoid adding more sugar or salt to foods.</li>
    </ul>
    <img width="1000" src="assets/taste5.jpg"/>
    <ul>
      <li>If your diet permits, add small amounts of cheese, bacon bits, butter, olive oil, or toasted nuts on vegetables.</li>
    </ul>
    <ul>
      <li>Avoid combination dishes, such as casseroles, that can hide individual flavors and dilute taste.</li>
    </ul>
  </ion-card-content>
</ion-card>
</ion-content>
