<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="eyes"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/dry2.jpg"/>
    <ion-card-header>
        <ion-card-title>What is Dry Eyes?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Dry eye disease is a common condition that occurs when your tears aren't able to provide adequate lubrication for your eyes. Tears can be inadequate and unstable for many reasons. For example, dry eyes may occur if you don't produce enough tears or if you produce poor-quality tears. This tear instability leads to inflammation and damage of the eye's surface. </p>
      </ion-card-content>
    </ion-card>
</ion-content>
