<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="breath"></ion-back-button></ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/asthma4.jpg"/>
    <ion-card-header>
        </ion-card-header>
      <ion-card-content>
        <p>
          Treatment of bad breath depends on the cause.<br>
          <ul>
          <li>Brush and floss teeth regularly. Remember to brush the tongue, too, to remove bacteria from its surface. Brushing the tongue can help with bad breath caused by foods a person has eaten.</li>
          <li>See a dentist regularly for checkups and to ensure dentures or braces are properly fitted and cleaned (and clean dentures thoroughly each night).</li>
          <li>Quit smoking or using chewing tobacco. </li>
          <li>Sugarless gum and sugar-free candy can also keep the mouth from drying out.</li>
          <li>Keep the mouth moist by drinking water and chewing sugarless gum or sugar-free hard candy to stimulate the production of saliva. Eat a diet of foods that need to be thoroughly chewed to keep saliva flowing. Foods that require a lot of chewing, such as apples or carrots, are good options.</li>
          <li>Over-the-counter mouthwash can help kill bad breath-causing bacteria and may temporarily mask bad breath odors, but it may not treat the underlying cause.</li>
        </ul>
        
      </ion-card-content>
      </ion-card>
        <ion-card>
          <ion-card-header>
          <ion-card-title class="ion-text-center">Important Explanation</ion-card-title><br>
        </ion-card-header>
          <ion-card-content>
          <p>If bad breath is a side effect of taking a medication, discuss with a health care professional whether there are other options for medication that can be taken. Never stop taking a medication without first consulting your health care professional.</p>
        </ion-card-content>
        </ion-card>
</ion-content>