<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="hemo"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/hemo2.jpg"/>
    <ion-card-header>
        <ion-card-title>Symptom/   Signs</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Hemophilia can vary in its severity, depending upon the particular type of mutation (genetic defect). The degree of symptoms depends upon the levels of the affected clotting factor. </p><br>
<p>Symptoms may develop later in those with moderate or mild disease. The bleeding of hemophilia can occur anywhere in the body. Common sites for bleeding are the joints, muscles, and gastrointestinal tract. Specific sites and types of bleeding are discussed below.</p><br>
<img src="assets/hemo5.jpg"/>
<ul>
  <li>Hemarthrosis</li>
</ul>
<p> Known as (bleeding into the joints) is characteristic of hemophilia. The knees and ankles are most often affected. The bleeding causes distension of the joint spaces, significant pain, and over time, can be disfiguring. Over time, joint destruction occurs, and joint replacement surgeries can be required.</p><br>
<img src="assets/hemo6.jpg"/>
<ul>
  <li>Bleeding into the muscles</li>
</ul>     

<p>May occur with hematoma formation (compartment syndrome).</p>
<ul>
  <li>Bleeding from the mouth or nosebleeds </li>
</ul>
<p>Bleeding after dental procedures is common, and oozing of blood from the gums may occur in young children when new teeth are erupting.</p>
<ul>
  <li>Bleeding from the gastrointestinal tract</li>
</ul>
<p>Can lead to blood in the stool.</p>
<ul>
  <li>Bleeding from the urinary tract</li>
</ul>
<p>Can lead to blood in the urine (hematuria).</p>
<ul>
  <li>Intracranial hemorrhage</li>
</ul>
<p>(bleeding into the brain or skull) can lead to symptoms such as nausea, vomiting, and/or lethargy, and can lead to death.</p>
<ul>
  <li>Increased bleeding after surgery or trauma</li>
</ul>
</ion-card-content>
    </ion-card>
</ion-content>