<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="hyper"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
        <ion-card-title class="ion-text-center">What is Excessive Sweating Hyperhidrosis?</ion-card-title>

      <ion-card-content>
        <img src="assets/hyper.jpg"/>
        <p>The word hidrosis is derived from the Greek and simply means "sweat." Hyperhidrosis, excessive sweat or excessive sweating, produces a lot of embarrassment and unhappiness. Primary hyperhidrosis occurs in otherwise healthy individuals with no apparent cause. Secondary hyperhidrosis is much less common and can be due to certain drugs, a variety of serious systemic diseases, neurological disorders, facial surgery, and anxiety. </p><br>
<p>weating is embarrassing, stains clothes, and may complicate business and social interactions. Excessive sweat can have serious practical consequences, like making it difficult to hold tools, grip a steering wheel, or shake hands.</p>
      </ion-card-content>
    </ion-card>
</ion-content>