<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="kidney"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/kid3.jpg"/>
    <ion-card-header>
        <ion-card-title>Symptom/  Signs</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Symptoms associated with kidney pain (also termed renal or flank pain) are discomfort (acute or chronic), aches, or sharp pain that occurs in the back between approximately the lowest rib and the buttock.<br> Depending on the cause of the pain, it may radiate down the flank to the groin or toward the abdominal area. Some individuals may develop symptoms and signs such as:</p>
        <ul>
          <li>Fever</li>
            <li>Painful urination (dysuria) </li>
            <li>Blood in the urine </li>
            <li>Nausea </li>
            <li>Vomiting </li>
            <li>Dizziness </li>
            <li>Constipation or diarrhea </li>
            <li>Rash </li>
            <li>Fatigue
            </li>
        </ul><br>
        <p>Other symptoms and signs that may occur if the kidney function is increasingly compromised are a:</p>
<ul>
  <li>Metallic taste in the mouth</li>
    <li>Bad breath</li>
    <li>Swelling and shortness of breath.</li>
</ul>
<p>Depending on the underlying cause, kidney pain may occur on the left or right side. Sometimes it can occur on both sides of the back; traumatic kidney injury (kidney laceration) may cause the above symptoms, but mild damage may initially have no symptoms. Severe kidney lacerations can cause abnormal blood pressure and pulse, and shock.

</p>
      </ion-card-content>
    </ion-card>
</ion-content>