<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="eyes"></ion-back-button></ion-buttons>
     </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img width="700" src="assets/dry3.jpg"/>
    <ion-card-header>
        <ion-card-title>Causes of dry eyes</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Dry eyes are caused by a variety of reasons that disrupt the healthy tear film. Your tear film has three layers: fatty oils, aqueous fluid and mucus. This combination normally keeps the surface of your eyes lubricated, smooth and clear. Problems with any of these layers can cause dry eyes.</p><br><br>
        <p>Reasons for tear film dysfunction are many, including hormone changes, autoimmune disease, inflamed eyelid glands or allergic eye disease. For some people, the cause of dry eyes is decreased tear production or increased tear evaporation.</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
          <ion-card-title>Risk factors of dry eyes</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Factors that make it more likely that you'll experience dry eyes include:</p><br>
           <ul>
             <li>Being older than 50. Tear production tends to diminish as you get older. Dry eyes are more common in people over 50.</li>
           </ul>
           <ul>
             <li>Being a woman. A lack of tears is more common in women, especially if they experience hormonal changes due to pregnancy, using birth control pills or menopause.</li>
           </ul>
           <ul>
             <li>Eating a diet that is low in vitamin A, which is found in liver, carrots and broccoli, or low in omega-3 fatty acids, which are found in fish, walnuts and vegetable oils.</li>
           </ul>
           <ul>
             <li>Wearing contact lenses or having a history of refractive surgery.</li>
           </ul>

        </ion-card-content>
      </ion-card>
</ion-content>
