<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="depression"></ion-back-button></ion-buttons>
    
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/depression6.jpg"/>
    <ion-card-header>
        <ion-card-title>Causes of Depression</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Depression causes sadness and/or a loss of interest in activities once enjoyed. It can also decrease a person’s ability to function at work and at home.</p> 
        <br>
        <p>Another facts:</p>
        <ul>
          <li>A depressive disorder is a mood disorder that is characterized by a sad, blue mood that goes above and beyond normal sadness or grief.</li>
          <li>They are clinical syndrome, meaning a group of symptoms</li>
         <br></ul> </ion-card-content>
    </ion-card>
    <ion-card>
    <ion-card-content>
      <ion-card-header>
        <ion-card-title>Depress
          Disorder Feature:</ion-card-title>
      </ion-card-header>
         <ul>
          <li>Depressive disorders feature not only negative thoughts, moods, and behaviors but also specific changes in bodily functions (like, eating, sleeping, energy, and sexual activity, as well as potentially developing aches or pains).</li>
         <br></ul>  
      </ion-card-content>  
    </ion-card>

    <ion-card>
      <img src="assets/depression4.jpg"/>
      <ion-card-content>
        <ion-card-header>
          <ion-card-title>Common Types of Depression:</ion-card-title>
        </ion-card-header>
           <ul>
            <li>Major Depressive Disorder(MDD)</li>
            <li>Persistent Depressive Disorder</li>
            <li>Bipolar Depression</li>
            <li>Postpartum Depression</li>
            <li>Premenstrual Dysphoric Disorder</li>
            <li>Seasonal Affective Disorder</li>
            <li>Atypical Depression</li>
           <br></ul>  
        </ion-card-content>
        
      </ion-card>
</ion-content>
