<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="ocd"></ion-back-button></ion-buttons>
     </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/ocd2.jpg"/>
    <ion-card-header>
        <ion-card-title>Causes of OCD</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>The exact cause is not completely understood. It may be associated with:</p>
     <ul>
        <li>
          Changes in the chemistry and functioning of brain</li>
        <li> Environmental factors such as certain infections are said to trigger OCD</li>
          <li>Infections such as streptococcal infection</li>
          <li>Stressful events in life</li>
         <li> Other mental illness such as depression or anxiety</li>
         <li>Substance or alcohol abuse</li>
      </ul>
      <img src="assets/ocd4.jpg"/>
      <ul>
        <li> Family history</li>
      </ul>
      <p>While people who have relatives with the illness are at a higher risk of developing OCD, most people with the condition have no such family history.</p>
      </ion-card-content>
    </ion-card>    
</ion-content>