<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="sleep"></ion-back-button></ion-buttons>
    
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/sleep5.jpg"/>
    <ion-card-header>
        <ion-card-title>Symptoms/
          Signs</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ul>
          <li>Very sleepy during the daytime and having trouble falling sleep at night</li>
          <li>Breathing in unusual pattern</li>
          <li>Feeling ucomfortable urge to move while you are trying to fall sleep </li>
         <li>Unusual/bothersome movements during sleep</li>
        <li>Having irregular sleep and wake cycle </li>
        </ul>
      </ion-card-content>
    </ion-card>
     </ion-content>
