ion-content.background {
    --background: url(../../assets/health1.jpg) 0 0/100% 100% no-repeat;

    }

ion-list{
    font-style: italic;
    font-size: 50px;
 }

ion-back-button{
	font-style: italic;
}

ion-searchbar{
	font-style: italic;
}