<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="salmon"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img width="1000" src="assets/sal5.jpg"/>
    <ion-card-header><ion-card-title>Treatment</ion-card-title>
        </ion-card-header>
      <ion-card-content>
        <p>
          In most cases, the symptoms resolve on their own without treatment within four to seven days. Taking plenty of fluids is essential to replace fluid lost by diarrhea to prevent dehydration. People with severe illness or who are unable to take oral liquids may need intravenous fluids. Antibiotics have been shown to prolong the time period in which the bacteria are present in the stool and are therefore not recommended for most cases. People with severe illness, those with risk factors for complications (such as the elderly or infants), or those with a weakened immune function may require treatment with antibiotics.</p><br>
        </ion-card-content>
        </ion-card>
<ion-card>
  <img src="assets/sal6.jpg"/>
  <ion-card-header>
    <ion-card-title>Prevention</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>There is no vaccine available to prevent Salmonella infection. However, one can take the following steps to help ensure good hygiene and food safety, reducing the likelihood of getting the infection:</p>
    <ul>
      <li>Wash hands thoroughly after using the bathroom.</li>
    </ul>
    <ul>
      <li>Cook meats and eggs thoroughly.</li>
    </ul>
    <ul>
      <li>Do not consume raw eggs or unpasteurized milk.</li>
    </ul>
    <ul>
      <li>Wash hands and kitchen surfaces with soap and water after contact with raw meat or eggs.</li>
    </ul>
    <ul>
      <li>Do not allow uncooked meats to come in contact with other foods in the kitchen, including utensils and work surfaces that will be used to prepare other foods.</li>
    </ul>
    <ul>
      <li>Wash hands thoroughly after contact with animal feces and after all contact with reptiles, birds, and small rodents.
      </li>
    </ul>
    <ul>
      <li>Chill foods after serving and when transporting from place to place.</li>
    </ul>
    
  </ion-card-content>
</ion-card>
</ion-content>