<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="diabetes"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/dia7.jpg"/>
    <ion-card-header>
        </ion-card-header>
      <ion-card-content>
        <p>
          Type 1 diabetes can't be prevented. However, the same healthy lifestyle choices that help treat prediabetes, type 2 diabetes and gestational diabetes can also help prevent them:</p><br>
          <ul>
          <li>Eat healthy foods</li>
          </ul>
          <p>Choose foods lower in fat and calories and higher in fiber. Focus on fruits, vegetables and whole grains. Strive for variety to prevent boredom.</p>
          <ul>
          <li>Get more physical activity</li>
          </ul>
          <p>Aim for about 30 minutes of moderate aerobic activity on most days of the week, or at least 150 minutes of moderate aerobic activity a week.</p>
          <ul>
          <li>Lose excess pounds </li></ul>
          <p> If you're overweight, losing even 7% of your body weight</p>
          <p>Don't try to lose weight during pregnancy, however. Talk to your doctor about how much weight is healthy for you to gain during pregnancy.</p><br>
          <p>To keep your weight in a healthy range, focus on permanent changes to your eating and exercise habits. Motivate yourself by remembering the benefits of losing weight, such as a healthier heart, more energy and improved self-esteem.</p>
        </ion-card-content>  
        </ion-card>

</ion-content>