<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="taste"></ion-back-button></ion-buttons>
     </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/taste2.jpg"/>
    <ion-card-header>
        <ion-card-title>Causes of Taste Disorder</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Some people are born with taste disorders, but most develop them after an injury or illness. Among the causes of taste problems are:</p><br>
        <ul>
          <li>Upper respiratory and middle ear infections</li>
        </ul>
        <ul>
          <li>Radiation therapy for cancers of the head and neck</li>
        </ul>
        <ul>
          <li>Exposure to certain chemicals, such as insecticides and some medications, including some common antibiotics and antihistamines</li>
        </ul>
        <ul>
          <li>Head injury</li>
        </ul>
        <ul>
          <li>Some surgeries to the ear, nose, and throat (such as middle ear surgery) or extraction of the third molar (wisdom tooth)</li>
        </ul>
        <ul>
          <li>Poor oral hygiene and dental problems.</li>
        </ul>
      </ion-card-content>
    </ion-card>
   
</ion-content>