
<ion-app>
  <ion-content padding class="background" scroll-y="false">
 <ion-slides pager ="true">
<ion-slide>
            <img src="assets/search.png"/>
            <ion-card>
            <h3>Search Information</h3>
            <p>This application has search method. It can saves you time by performing searches at high speeds. Without a search area, you would have to look at menu one by one and pore over the contents of each carefully.</p>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <img src="assets/view.png"/>
<ion-card>
          <h3>View Information</h3>
          <p>Many interesting information can everyone view. This application provide image that related with the information. The most important, the information can be as the knowledge for the future.</p>
        </ion-card>
        </ion-slide>

        <ion-slide>
          <img src="assets/diseases.png"/>
<ion-card>
          <h3>Diseases Information</h3>
          <p>This application will talks about common diseases in our life. This will give benefit that make you more take care of yourself. It also have a solution and ho it can be happen. Enjoy!</p>
         
<ion-button color="dark" shape="round" [routerLink]="['/health']" fill="clear"> Next <ion-icon name="play-forward-sharp"></ion-icon></ion-button>
</ion-card>
        </ion-slide>

      </ion-slides>
  
</ion-content>
</ion-app>
