<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="ocd"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/ocd5.jpg"/>
    <ion-card-header>
      <ion-card-title>Treatment</ion-card-title>
        </ion-card-header>
      <ion-card-content>
        <p>
          Treatment of OCD includes:</p>
          <ul>
          <li>Ognitive behavioral psychotherapy</li>
          </ul>
          <ul>
          <li>Behavioral therapies</li>
          </ul>
         <ul>
          <li>Medications</li></ul>
          <p>
            Behavioral therapies for OCD include:</p>
            <ul>
            <li>Systematic desensitization therapy</li>
            </ul>
            <ul>
            <li>Aversion therapy</li>
            </ul>
           <ul>
            <li>Rational emotive behavior therapy</li></ul>
            <ul>
              <li>Ritual prevention and exposure therapy</li>
            </ul>
        </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Prevention</ion-card-title>
              </ion-card-header>
            <ion-card-content>
                <ul>
                <li>Learn about your condition</li>
                </ul>
                <ul>
                <li>Take your medications in the prescribed doses and at the right time</li>
                </ul>
               <ul>
                <li>Complete your medications without stopping them half way</li></ul>
                <ul>
                  <li>Learn to identify the warning signs and symptoms</li>
                </ul>
                <ul>
                  <li>Join a support group</li>
                </ul>
                <ul>
                  <li>Remain socially active</li>
                </ul>
                <ul>
                  <li>Talk to your doctor regarding any side effects of medicines</li>
                </ul>
              </ion-card-content>
              </ion-card>
      
</ion-content>