<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="elbow"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <ion-card-header>
        <ion-card-title>Symptom/  Signs</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ul>
          <li>Pain</li>
          <li>Visible deformity</li>
          <li>Anaudible pop</li>
          <li>Swelling</li>
          <li>An inability to move the elbow</li>
        </ul>
      </ion-card-content>
      <img src="assets/elbow3.jpg"/>
    </ion-card>
</ion-content>