<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="neck"></ion-back-button></ion-buttons>
    
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/neck4.jpg"/>
    <ion-card-header>
        <ion-card-title>Symptoms/
          Signs</ion-card-title>
      </ion-card-header>
      <ion-card-content>
<p>Neck pain is a symptom commonly associated with dull aching. Sometimes pain in the neck is worsened with movement of the neck or turning the head.</p><br>
<p>Other symptoms associated with some forms of neck pain include:</p>
<ul>
  <li>Headache</li>
  <li>Facial Pain</li>
  <li>Shoulder pain</li>
  <li>Numbness</li>
  <li>Tingling</li>
  <li>Tenderness</li>
  <li>Sharp Shooting Pain</li>
  <li>Range of motion difficulties</li>
  <li>Fullness</li>
  <li>Difficulty Swallowing</li>
  <li>Pulsations</li>
    <li>Swishing sounds in the head</li>
    <li>Dizziness/Lightheadedness</li>
    <li>Lymph node (gland) swelling</li>
</ul>
      </ion-card-content>
    </ion-card>
     </ion-content>
