<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="addison"></ion-back-button></ion-buttons>
     </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/add2.jpg"/>
    <ion-card-header>
        <ion-card-title>Causes of Addison's Diseases</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Primary adrenal insufficiency:</p>
        <ul>
          <li>Damaged adrenal glands, particularly damaged cortex of the gland, results in inadequate hormone production</li>
        </ul>
        <ul>
          <li>Autoimmune diseases, where the body’s immune cells attack cells of the adrenal gland</li>
        </ul>
        <ul>
          <li>Infections of the adrenal glands</li>
        </ul>
        <ul>
          <li>Cancers of the adrenal glands</li>
        </ul>
        <ul>
          <li>Tuberculosis affecting the adrenal gland</li>
        </ul>
        <ul>
          <li>Bleeding into the adrenal glands</li>
        </ul><br>
        <p>Secondary adrenal insufficiency: a rare cause due to:</p>
        <ul>
          <li>Diseases or disorders of the pituitary gland</li>
        </ul>
        <ul>
          <li>Medications such as long term corticosteroid administration</li>
        </ul>
      </ion-card-content>
    </ion-card>
</ion-content>
