<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="breath"></ion-back-button></ion-buttons>
    
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/breath5.jpg"/>
    <ion-card-header>
        <ion-card-title>Symptoms/
          Signs</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>It is generally simple how to tell if you have bad breath. Others may notice someone has halitosis before the person does, so another person may tell him or her about their bad breath or give them a larger than normal personal space. The most obvious sign or symptom of bad breath is noticing an unpleasant smell coming from the mouth.</p>
        <br>
        <p>Other signs and symptoms of bad breath include:</p>
        <ul>
          <li>Unpleasant or sour taste or changes in taste,</li>
          <li>Dry mouth</li>
          <li>A coating on the tongue.</li>
         <br></ul>
      </ion-card-content>
    </ion-card>
     </ion-content>