<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="dengue"></ion-back-button></ion-buttons>
   
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <img src="assets/dengue.jpg"/>
    <ion-card-header>
        <ion-card-title>What is Dengue Fever?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Dengue fever is a disease caused by a family of viruses transmitted by infected mosquitoes</p><br>
<p>Dengue can affect anyone but tends to be more severe in people with compromised immune systems. Because one of five serotypes of the dengue virus causes dengue fever, it is possible to get dengue fever multiple times.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
