<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="eyes"></ion-back-button></ion-buttons>
    
    </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <ion-card-header>
        <ion-card-title>See a doctor</ion-card-title>
      </ion-card-header>
      <ion-card-content>
       <p>See your doctor if you've had prolonged signs and symptoms of dry eyes, including red, irritated, tired or painful eyes. Your doctor can take steps to determine what's bothering your eyes or refer you to a specialist.</p>
      </ion-card-content><br><br>
      <ion-icon name="arrow-down-circle-sharp" color="primary" size="large"></ion-icon>
         </ion-card>
  <ion-card>
    <img src="assets/dry4.jpg"/>
    <ion-card-header>
        <ion-card-title>Symptoms/
          Signs</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p> Signs and symptoms, which usually affect both eyes, may include:</p>
        <ul>
          <li>A stinging, burning or scratchy sensation in your eyes</li>
          <li>Stringy mucus in or around your eyes</li>
          <li>Sensitivity to light</li>
          <li>Eye redness</li>
          <li>A sensation of having something in your eyes</li>
          <li>Difficulty wearing contact lenses</li>
          <li>Difficulty with nighttime driving</li>
          <li>Watery eyes, which is the body's response to the irritation of dry eyes</li>
         <li>Blurred vision or eye fatigue</li>
          <br></ul>  
      </ion-card-content>
    </ion-card>
     </ion-content>

