ion-content.background{
    --background: url(../../assets/health1.jpg) 0 0/100% 100% no-repeat;
}

ion-card-subtitles{
    font-style: italic;
  }
  
  ion-card-title{
    font-style: italic;
  }
  
  ion-card p{
    font-style: italic;
  }
  
ion-icon {
    position: absolute;
    margin: auto;
    top: 100;
    right: 0;
    bottom: 0;
    left: 0;
}