<ion-header>
  <ion-toolbar>
  	 <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="breath"></ion-back-button></ion-buttons>
     </ion-toolbar>
</ion-header>
<ion-content padding class="background">
    <ion-card>
      <img src="assets/breath3.jpg"/>  
    <ion-card-content>
      <ion-card-header>
        <ion-card-title>Some common causes of holitosis:</ion-card-title>
      </ion-card-header>
         <ul>
          <li>Poor oral health</li>
         </ul>
         <p>When a person does not brush or floss his/her teeth regularly, food particles remaining in the mouth can rot and cause bad odors. Poor dental care can lead to a buildup of plaque in the mouth, which causes an odor of its own. Plaque buildup on the teeth can also lead to an unhealthy condition called periodontal (gum) disease.</p>
         <ul>
         <li>Health problems</li>
        </ul> 
        <p>Such as:</p>
        <p>Sinus infections, pneumonia, sore throat (pharyngitis) and other throat infections, the common cold, influenza (flu), tonsil stones (tonsilloliths), thrush, bronchitis, postnasal drip, diabetes, acid reflux (gastroesophageal reflux disease or GERD), lactose intolerance, other stomach or digestion problems, and some liver diseases or kidney diseases may be associated with bad breath.</p>
        <ul>
          <li>Dry Mouth</li>
        </ul>
        <p>Also called xerostomia, dry mouth can also cause bad breath. Saliva helps moisten and cleanse the mouth, and when the body does not product enough saliva, bad breath may result. Dry mouth may be caused by salivary gland problems, connective tissue disorders (Sjögren's syndrome), medications, or breathing through the mouth.</p>
        <ul>
          <li>Mouth infections</li>
        </ul>
        <p>Cavities, gum disease, or impacted teeth may cause bad breath.</p>
          <ul>
            <li>Medications</li>
          </ul>
          <p>Many medications, including antihistamines to treat allergies and diuretics, can cause dry mouth (see above), which can cause bad breath. Other medications that may lead to bad breath may include triamterene (Dyrenium) and paraldehyde.</p>
          <ul>
            <li>"Morning breath"</li>
          </ul>
          <p>Bad breath in the morning is very common. Saliva production nearly stops during sleep, allowing odor-causing bacteria to grow, causing bad breath.</p>
          <ul>
         <li>Tobacco products</li>
           </ul>
           <p> Smoking and chewing tobacco can leave chemicals that remain in the mouth. Smoking can also precipitate other bad-breath causes such as gum disease or oral cancers.</p>
          <ul>
            <li>
              Food
            </li>
          </ul>
          <p>Food is a primary source of bad odors that come from the mouth. Some foods, such as garlic, onions, spicy foods, exotic spices (such as curry), some cheeses, fish, and acidic beverages such as coffee can leave a lingering smell.</p>
         <img src="assets/breath4.jpg"/>   
      </ion-card-content>
      
    </ion-card>
</ion-content>
